# Distribution / packaging
.Python
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__

# Environment files
.env.development
.env.production

# Serverless directories
.serverless

# Others
.venv/
.vscode/
node_modules
package-lock.json

# Artifact
*.zip